@import url('https://fonts.cdnfonts.com/css/biko');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Biko", sans-serif;
}

a{
    text-decoration: none;
}

body {
    display: flex; /* Define o layout flexível */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    background-image: url('../img/background.jpg'); /* Certifique-se de que o caminho está correto */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5s ease-in-out;
    opacity: 0;
    overflow-x: hidden;
}

body.loaded {
    opacity: 1; /* Ajuste para garantir que o fundo seja visível */
}

.container{
    max-width: 1500px;
    max-height: 720px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: #fdfdfd;
    width: 100%;
    padding: 20px 4%;
    position: relative;
    z-index: 1;
    height: 125px;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 20px #000;
    transition: 500ms ease-in-out;
}

#header.scroll{
    position: fixed;
    height: 100px;
    background-color: #a20908;
}

#header.scroll .list-menu1 a{
    color: #fff;
}

#header.scroll .list-menu1 button{
    color: #fff;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 80px;
}

header .list-menu1 a, #btn-cardapio{
    color: #a20908;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 500ms ease-in-out   ;
}

header .list-menu1 a:hover, #btn-cardapio:hover{
    color: red;
}

#btn-cardapio{
    background: none;
    border: none;
    cursor: pointer;
}

.submenu{
    border: solid #a20908 2px;
    flex-direction: column;
    background:none;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    color: #fff; 
    z-index: 1;
    animation: aparecer 0.5s;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.submenu button{
    font-size: 1.5rem;
    background-color: #fff;
    color: #a20908;
    width: 25vh;
    height: 10vh;
    align-items: center;
    justify-content: center;   
    transition: 0.3s ease-in-out; 
}

hr{
    height: 3px;
    border: solid 2px #a20908;
}

.submenu button:hover{
    transform: translateY(-3px);
    background-color: #d62b2b;
    color: #fff;
    cursor: pointer;
}

.submenu button:active{
    transform: translateY(2px);
    background-color: #ff1c1c;
}

#barralateral {
    margin-top: 20px;
    height: 100%;
    width: 200px;
    position: fixed;
    left: -200px;
    background-color: #fff;
    transition: left 0.3s ease-in-out; 
    z-index: 1;
}

#barralateral a{
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    display: block;
    transition: background-color 0.3s;
}

#barralateral a:hover{
    background-color: #a20908;
    color: #fff;
}

#barralateral.scroll{
    background-color: #a20908;
}

#barralateral.scroll a{
    color: #fff;
}

#barralateral.scroll a:hover{
    background-color: #fff;
    color: #a20908;
}

.btn-ativação{
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
    font-size: 18px;
}

.btn-ativação.active {
    background-color: #a20908;
    border-radius: 10px; 
}

#btn-ativação.scroll{
    border: solid #fff 3px;
}

.btn-conta button{
    font-size: 1.7rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #a20908;
    padding: 5px;
    border-radius: 10px;
    transition: 500ms;
}   

.btn-conta button:hover{
    background-color: #FF3131;
    transform: scale(1.2);
}

.btn-conta a{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    line-height: 40px;
}

#btn-conta.scroll{
    background-color: #fff;
    color: #a20908;
}

#btn-conta.scroll:hover{
    background-color: #a20908;
    color: #fff;
    border: solid #fff 2px;
}

main {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    width: 100%; /* Ocupa toda a largura disponível */
    text-align: center; /* Centraliza o texto */
}

.title{
    font-size: 5rem;
    text-align: center;
}

.txtContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto
}

.img1, .img2{
    width: 50vh;
    height: 50vh;
}

.text{
    color: #2f3335;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.05mm;
      padding-left: 5%;
      padding-right: 5%;
}

footer {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    width: 100%;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    padding: 50px; /* Reduz o espaçamento interno */
}

.footer-container {
    max-width: 1200px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .footer-links {
    margin-bottom: 20px;
}

.footer-container .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem; /* Reduz o tamanho da fonte dos links */
}

.footer-container .footer-links a:hover {
    text-decoration: underline;
}

.footer-container .footer-bottom {
    font-size: 0.9rem; /* Reduz o tamanho da fonte do texto inferior */
}

.auxilio-section {
    padding: 70px 10%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auxilio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.auxilio-content {
    flex: 1;
    padding: 20px;
    max-width: 600px; /* Limita a largura do conteúdo */
    margin: 20px; /* Adiciona espaçamento ao redor do conteúdo */
    background-color: #fff; /* Fundo branco para o conteúdo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao conteúdo */
    display: flex; /* Organiza o texto e a imagem lado a lado */
    align-items: center; /* Centraliza verticalmente o texto e a imagem */
    justify-content: space-between; /* Posiciona os elementos com espaço entre eles */
    gap: 20px; /* Espaçamento entre o texto e a imagem */
    margin: 30px auto; /* Adiciona espaçamento ao redor do conteúdo */
    max-width: 800px; /* Limita a largura do container */
    
}

.auxilio-title {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 33.7pt;
    font-weight: bold;
    color: #a20908;
    text-align: center; /* Centraliza o título */
    margin: 20px auto; /* Reduz o espaçamento ao redor do título */
}

.auxilio-text {
    font-family: "Lato", sans-serif;
    font-size: 22pt;
    color: #000000;
    line-height: 1.6;
    max-width: 800px; /* Limita a largura do texto para melhor legibilidade */
    text-align: center; /* Centraliza o texto */
    margin: 10px auto; /* Reduz o espaçamento ao redor do texto */
}

.auxilio-box {
    border: 3px solid #FFD700; /* Bordas amarelas */
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    background-color: #FFF;
}


.auxilio-boxes {
    display: flex;
    flex-wrap: wrap; /* Permite que os boxes se ajustem em telas menores */
    justify-content: center; /* Centraliza os boxes horizontalmente */
    gap: 20px; /* Espaçamento entre os boxes */
    margin-top: 30px;
}

.box-title {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 22.9pt;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    background-color: #a20908; /* Fundo vermelho */
    padding: 10px;
    border-radius: 5px;
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-item {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    width: calc(50% - 20px); /* Cada box ocupa 50% da largura menos o espaçamento */
    border: 2px solid #FFD700; /* Bordas amarelas */
    border-radius: 10px;
    padding: 15px;
    background-color: #FFF;
}

.box-item h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: #a20908;
    text-align: center; /* Centraliza o título dos boxes */
    margin-bottom: 10px;
}

.box-item p {
    font-family: "Lato", sans-serif;
    font-size: 21pt;
    color: #000000;
    line-height: 1.6;
    text-align: center; /* Alinha o texto de forma centralizada */
}

.box-img {
    width: 150px; /* Aumenta a largura do ícone */
    height: auto; /* Mantém a proporção da altura */
    margin: 10px 0; /* Adiciona espaçamento ao redor da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.lampada-img {
    width: 80px; /* Define a largura menor */
    height: auto; /* Mantém a proporção da altura */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    margin: 10px 0; /* Adiciona espaçamento ao redor da imagem */
}

.box-letter {
    font-size: 100px; /* Define o tamanho da letra */
    font-weight: bold; /* Deixa a letra em negrito */
    color: #a20908; /* Cor vermelha para combinar com o tema */
    text-align: center; /* Centraliza a letra */
    margin: 10px 0; /* Adiciona espaçamento ao redor da letra */
}

@media screen and (max-width: 768px){

    .flex{
        flex-direction: column;
    }
    .container{
        position: relative;
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    footer{
        margin-top: 18%;
    }

    .footer-container {
        flex-direction: column;
    }
    
    .footer-container .footer-links {
        margin-bottom: 10px;
    }
    
    .footer-container .footer-links a {
        display: block;
        margin: 5px 0;
    }
    .logo{
        width: 20px;
        height: 20px;
    }
    header{
        padding-top: 0;
        font-size: 1rem;
    }

    header ul li{
        padding-left: 60px;
    }

    main{
        flex-direction: column;
    }

    .text{
        font-size: 1.4rem;
    }
}
@media (max-width: 612px) {
    .btn-opcoes{
        flex-direction: column;
        padding: 12% 0 12% 0;
    }
    header ul li{
        padding: 0;
    }
    
}
@media (max-width: 340px) {
    .botão1{
        height: 150px;
        width: 185px;
    }
    .botão2{
        height: 150px;
        width: 185px;
    }
}
@media (max-width: 478px) {
    header{
        text-align: center;
        font-size: 0.7rem;
    }
}
@media (max-width: 526px) {
    header{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    header{
        font-size: 0.7rem;
    }
}